@{
    ViewData["Title_P1"] = "Forbidden";
    ViewData["Title_P2"] = "403";
}
<div style="min-height:90vh" class="d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center text-primary font-weight-bold">Forbidden - 403</h2>
        <p class="text-center">Pardon, mais vous n'avez pas de permission pour effectuer cette action.</p>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


